{% extends "base.html" %}

{% block content %}
  <h1>
    Dish types
    <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-primary">
      Create
    </a>
  </h1>

  {% if dish_types %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for dish_type in dish_types %}
        <tr>
          <td>{{ dish_type.name }}</td>
          <td>
            <a
              href="{% url 'kitchen:dish-type-update' pk=dish_type.pk %}"
              class="btn btn-secondary"
            >
              Update
            </a>
          </td>
          <td>
              <a
                href="{% url 'kitchen:dish-type-delete' pk=dish_type.pk %}"
                class="btn btn-danger"
              >
                Delete
              </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no dish types yet.</p>
  {% endif %}
{% endblock %}